In [7]:
import pandas as pd
import os

In [8]:
path = './'
df = pd.read_csv(path+'train_labels.csv')
df.head()

                                image  target
0  tfymlmdkpzkqdjhdxyhnoeuqszxphw.jpg       0
1  rxgismgsvmaayzjarbfjaljhqmpbrt.jpg       1
2  uuzshfrhkgrkolhwdvliqauzulurnz.jpg       0
3  mjspxsagzusaznvnyxgamtrlqkqklp.jpg       0
4  rlbmuajgezfiddjzlyeoupxpqubkpt.jpg       1

In [9]:
df.target.value_counts()

0    664
1    644
Name: target, dtype: int64

In [10]:
df.loc[df.image=='tfymlmdkpzkqdjhdxyhnoeuqszxphw.jpg', 'target'].values[0]

0

In [11]:
main = [x for x in df.image]
delete = []
for i in os.listdir("JPEGImages"):
    if i in main:
        if df.loc[df.image==i, 'target'].values[0]==0:
            os.remove("JPEGImages/"+i)
    else:
        delete.append(i)

In [12]:
for i in delete:
    os.remove("JPEGImages/"+i)

## Convert all images to JPG

In [13]:
directory = r'JPEGImages'

for filename in os.listdir(directory):
    full_path = os.path.join(directory, filename)
    if not filename.endswith(".jpg"):
        pre, ext = os.path.splitext(filename)
        os.rename(full_path, directory + "/" + pre + '.jpg')
    else:
        continue